.pixel {
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    width: 10rem;
    height: 10rem;
}

.mouse-over {
    background-color: black;
}