.pixel {
    border: 1px solid black;
    flex: 1;
}

#container {
    display: flex;
    height: 500px;
    width: 500px;
}

#container div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.clicked {
    background-color: black;
}
